main {
  background-color: white;
  z-index: -1;
}

.home-pg{
    margin-top: 0px;
    height: 584px;
    display: flex;
    align-items: center;
    background-image: url('Bangun Ruang/Cover.png');
}

.home{
    width: 50%;
}

.home-text {
  font-size: 25px;
  margin-left: 150px ;
}

.home-text h2{
    margin: 10px 0px;
    color: #0277BD;
}

.home-text h4{
    margin: 10px 0px;
    color: #0277BD;
}

.home-text p{
    margin: 10px 0px;
    color: #0277BD;
}

.btn-belajar{
    margin-left: 150px;
    padding-top: 10px;
}

.btn-bljr{
    border: none;
    background-color: #b0e1ff;
    cursor: pointer;
    word-spacing: 2px;
    font-size: 18px;
    color: #007fc9;
    border-radius: 10px;
    width: 30%;
    height: 40px;
}

.btn-bljr:hover{
    background-color: #75bee9; 
}